* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Dosis', sans-serif;
   /* background-image: url(assets/images/capuchin.jpg);
    background-size: cover;
    background-repeat: no-repeat; */

}

.bg-video {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

header {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

.main-title {
    font-size: 10vmin;
    color: white;    
}

main {
    background: rgba(255, 0, 0, 0.25);
    max-width: 1400px;
    margin: 0 auto;
}

main p {
    font-size: 3rem;
    color: white;
    background: rgba(0, 0, 0, 0.75);
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    box-shadow: 0px 10px 20px -8px black;
}

main p:hover {
    color: crimson;
    background: orange;
}

.gallery {
    display: flex;
    align-items: center;
}

.gallery img {
    width: 20vmin;
    height: 20vmin;
    object-fit: cover;
    border-radius: 50%;
}