.titles {
    color: gold;
    text-align: center;
    font-family: monospace;
}

.not-titles {
    color: red;
    font-family: monospace;
}

body{
   background-image: url("gifs/star-blue.gif");
}

.monstermaze{
    
}