body{
    font-family: Arial;
}

div{
    background: red;
}
.box{
    width: 100px;
    height: 100px;
    background: cornflowerblue
    ;
    margin: 1em;
}

.big{
    width: 200px;
    height: 200px;
}



#unique-box{
    background: darkslategray;
    color: white;
    border: 10px dotted violet;

}