* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    background-color: deepskyblue;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color:ivory
}

a{
    font-family: 'Press Start 2P', cursive;
}

