* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    background-color: deepskyblue;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color:ivory
}

a{
    font-family: 'Press Start 2P', cursive;
}

a:link {color: ivory;}

a:visited {color: black;}

a:hover { color: lightgreen;}

.text {
    font-family: monospace;
    background-color: rgba(16, 158, 214, 0.616);
    animation-name: color;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.grid {
    background: rgba(16, 158, 214, 0.616);
    display: grid;
    justify-content: space-evenly;
    
}

.pokemon {
    height: 20vmin;
    width: 20vmin;
    margin: 1em;
}

.lotad {
    grid-column: 1/1;
}

.mudkip {
    grid-column: 2/2;
}




@keyframes color {
    from {color: black;}
    to {color:gold;}
    
}






