* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  'Trebuchet MS', sans-serif
}

section {
    background: #ddd;
    margin: 5em 0;
    padding: 1em;
}

.box {
    background: cornflowerblue;
    width: 20vmin;
    height: 20vmin;
    margin: 1em;
    border: 3px solid orange;
}

.absolute {
    background: purple;
    position: absolute;
    bottom: 5vmin;
    left: 50vmin;
}

.fixed {
    background: coral;
    position: fixed;
    top: 10vmin;
    left: 40vmin;
}

.relative{
    background: greenyellow;
    position: relative;
    top: 80vmin;
    left: 20vmin;
}

.parent {
    width: 80%;
    height: 300px;
    background: lightgreen;
    margin: 1em auto;
    position: relative;
}

.child {
    background: salmon;
    width: 50%;
    height: 50%;
    position: absolute;
}

grandchild{
    width: 50%;
    height: 50%;
    background: blue;
    position: absolute;
}